@{
    ViewBag.Title = "About Me";
}
<div class="contactus">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <div class="float-left;">
        <div class="float-left;">
            <img src="~/Images/abhishek_pics.jpg" class="textwrap" />
            <p style="text-align: justify;">
                Hello, and thanks for visiting my blog!<br />
                I’m Abhishek Kumar, a full-time Senior Software Engineer with GlobalLogic India Limited based in Noida, India.  I’m also a consultant, developer & trainer with more than 5 years of experience in .NET and web technologies.  I’m the founder & Chief Editor of the Crazy Developer blog, where I love sharing my experiences, knowledge and research.  I strive to be the best I can be, always trying to gain more knowledge and skills in various technologies.  For me, keeping up with new technologies and learning new skills that allow me to provide better solutions to problems is essential.  Being a developer means having the desire to create a new world with new possibilities…I’m passionate about this!
            </p>

            <p style="text-align: justify;">
                I’ve received wonderful feedback from many people around the world using my website for support and knowledge.  This makes it all worth while. Some of the topics I cover include .NET, MVC, C#, SQL Server, WCF, Web API’s, Entity Framework, Cloud Computing, Windows Azure, jQuery, Angular.js and much more.  The purpose of this blog is to give back to the developer community.  I especially want to provide a resource for newcomers so they can gain confidence in the world of code.


            </p>
            <p style="text-align: justify;">
                So, thanks for taking the time to get to know me.  Also feel free to send me your comments, questions or suggestions for new topics on anything related to programming or new technologies.
            </p>
            <p style="text-align: justify;">
               <span><a href="~/Files/Resume.doc"> Click here to download my resume.</a></span>
            </p>
            <p>
                Happy reading!
            </p>
            <p>
                Abhishek
            </p>
        </div>

    </div>
</div>
