@{
    ViewBag.Title = "Contact";
}

<div class="contactus">
    <h3>Contact Us</h3>

    <address>
        Delhi<br />
        <abbr title="Phone">Phone:</abbr>
        +91-9871062500<br />
        <abbr title="Phone">Phone:</abbr>
        +91-7533019330
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:support@firstcrazydeveloper.com">Support@firstcrazydeveloper.com</a><br />
        <strong>Facebook:</strong> <a href="https://www.facebook.com/crazydeveloperfirst">Crazy Developer</a><br />
        <strong>LinkedIn:</strong> <a href="https://in.linkedin.com/pub/abhishek-kumar/45/8b9/796">Crazy Developer</a><br />
        <strong>Twitter:</strong> <a href="https://twitter.com/developer_crazy">&#x40;developer_crazy</a><br />
    </address>

</div>